
header {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: white;
    font-size: 56px;
    padding: 15px;
    margin: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
}

header span{
    font-size: 20px;
}

.card {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    border-radius: 5px;
    margin: 10px;
    height: 250px;
    padding-top: 15px;
}

img {
    width:100%;
    height: 200px;
}

.modalbtn {
    visibility: visible;
}


.modal-bg {
    position: fixed;
    width:100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    visibility: 0;
    opacity: 0;
    transition: visibility 0s opacity 0.5s; 
}



.youtube-modal-bg {
    position: fixed;
    width:100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    visibility: 0;
    opacity: 0;
    transition: visibility 0s opacity 0.5s; 
}

.modal {
    background-color: white;
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.genre-display {
    width: 80%;

}

.genre-col {
    display: flex;
    flex-direction: column;
}

.form-parent {
    display: flex;
    flex-direction: column;
}

.bg-active {
    visibility: visible;
    opacity:1;
    pointer-events: auto;
}

button:hover {
    background-color: violet;
}

iframe {
    width:560px;
    height:315px
}

.checkbox {
    margin: 10px 0;
}

.card:hover {
    background-color: rgb(44, 42, 42);
}